
<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Blank project</title>
    </head>
    <body>
        <p>Hi! You logged in with email: {{ email }}</p>

        <a href="/logout">logout</a>
    </body>
</html>
