
<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Blank project</title>
    </head>
    <body>
        <form action="" method="post">
            <input name="email">
            <input type="password" name="password">
            <input type="submit" value="login">
        </form>
        <a href="/register">New user</a>
    </body>
</html>
